/* Stylesheet for application site */

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    height: 99vh;
}

svg {
    width: 100%;
    height: 90%;
    background-color: white;
}

p {
    margin: 0;
}

div#left-col {
    width: 25%;
    height: 100vh;
    float: left;
    background-color: #f1f4f7;
    position: relative;
}

div#right-col {
    width: 75%;
    height: 100%;
    float: right;
}

div#date-nav-box {
    height: 10%;
    background-color: #3B6891;
}

div#filter-box {
    height: 50%;
    border-bottom: solid black 3px;
}

div#review-box {
    width: 80%;
    height: 30%;
    padding-top: 10%;
    margin-left: 10%;
}

div#cart-box {
    background-color: white;
    height: 95%;
    padding: 2%;
    border: solid black 1px
}

div#cart-box-header {
    border-bottom: solid black 1px;
    height: 10%;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 3%;

}

#submit-button {
    margin-top: 5%;
}

#date-display-box {
    float: left;
    text-align: center;
    width: 60%;
    color: black;
    height: 100%;
    font-size: 2em;
    vertical-align: middle;
    line-height: 2em;
}

#hour-nav-arrow-left {
    height: 100%;
    width: 10%;
    float: left;
    background-image: url("../images/arrow-icons/left-hour-arrow.png");
    background-repeat: no-repeat;
}

#day-nav-arrow-left {
    height: 100%;
    width: 10%;
    float: left;
    background-image: url("../images/arrow-icons/left-day-arrow.png");
    background-repeat: no-repeat;
}

#hour-nav-arrow-right {
    height: 100%;
    width: 10%;
    float: right;
    background-image: url("../images/arrow-icons/right-hour-arrow.png");
    background-repeat: no-repeat;
}

#day-nav-arrow-right {
    height: 100%;
    width: 10%;
    float: right;
    background-image: url("../images/arrow-icons/right-day-arrow.png");
    background-repeat: no-repeat;
}

#account-info {
    height: 45px;
    background-color: #314869;
    text-align: center;
}

img {
    vertical-align: middle;
}

span{
    display: inline-block;
    margin-right: 25px;
    color: white;
    font-size: 1.5em;
    line-height: 1.5em;
    vertical-align: middle;
}