/*Stylesheet for application site*/

* {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 99vh;
}

svg {
    width: 100%;
    height: 90%;
}

p {
    margin: 0;
}

div#left-col {
    width: 25%;
    height: 100vh;
    float: left;
    background-color: yellow;
    position: relative;
}

div#right-col {
    width: 75%;
    height: 100%;
    float: right;
}

div#date-nav-box {
    height: 10%;
    background-color: black;
}

div#filter-box {
    height: 30%;
    border-bottom: solid black 3px;
}

div#review-box {
    width: 80%;
    height: 60%;
    padding-top: 10%;
    margin-left: 10%;
}

div#cart-box {
    background-color: white;
    height: 80%;
    padding: 2%;
}

div#cart-box-header {
    border-bottom: solid black 3px;
    height: 10%;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 3%;

}

#submit-button {
    margin-top: 5%;
}

#date-display-box {
    float: left;
    width: 60%;
    color: white;
    height: 80%;
    font-size: 2em;
}

#hour-nav-arrow-left {
    height: 100%;
    width: 10%;
    float: left;
    background-image: url("assets/left-hour-arrow.png");
    background-repeat: no-repeat;
}

#day-nav-arrow-left {
    height: 100%;
    width: 10%;
    float: left;
    background-image: url("assets/left-day-arrow.png");
    background-repeat: no-repeat;
}

#hour-nav-arrow-right {
    height: 100%;
    width: 10%;
    float: right;
    background-image: url("assets/right-hour-arrow.png");
    background-repeat: no-repeat;
}

#day-nav-arrow-right {
    height: 100%;
    width: 10%;
    float: right;
    background-image: url("assets/right-day-arrow.png");
    background-repeat: no-repeat;
}
