span[id $= 'Error']{
    color: red;
    font-weight: bold;
    font-size: 0.75em;
}

.errorDiv {
    padding-top: 0;
    margin-top: 0;
}

.tightDiv {
    margin-bottom: 0;
}

label {
    padding-top: 10px;
    margin-bottom: 2px;
}

.topMargin{
    margin-top: 15px;
}